[submodule "Ori-RippleNet"]
	path = Ori-RippleNet
	url = https://github.com/Jessinra/GDP-RippleNet-Ori

[submodule "Ori-Autorec"]
	path = Ori-Autorec
	url = https://github.com/Jessinra/GDP-Autorec-Ori

[submodule "GDP-KPRN"]
	path = GDP-KPRN
	url = https://github.com/Jessinra/GDP-KPRN

[submodule "GDP-RippleNet"]
	path = GDP-RippleNet
	url = https://github.com/Jessinra/GDP-RippleNet

[submodule "GDP-AutoRec"]
	path = GDP-AutoRec
	url = https://github.com/Jessinra/GDP-AutoRec

[submodule "GDP-LightFM"]
	path = GDP-LightFM
	url = https://github.com/Jessinra/GDP-LightFM


